*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height: 70px;
    background-color: #023047;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    right: 50px;

}

.nav-logo{

    height: 60px;
    width: 190px;
}
.logo{
    background-image:url(205.png);
    background-size: cover;
    height: 80px;
    width: 240px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/** box2 **/
.add-first{
color:#cccccc;
font-size: 0.85rem;
margin-left: 15px;
font-size: 18px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**box three**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    background-color: #ffb703;
     border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: black;

}

.nav-search:hover{
    border: 2px solid orange;
}
/**box fore**/
span{
    font-size: 0.7rem;
}
.nav-second
{
    font-size:0.85rem;
    font-weight: 700;
}
/**box6**/
.nav-cart i{
   font-size: 28px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}
/**PANEL**/
.panel{
    height: 20px;
    background-color: #219ebc;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
    margin-left:35px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**hero section**/
.hero-section{
    background-image: url("images/image1.jpg" );
    background-size: cover;
    height: 350px;
    width: 1507px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 10px;
}
.hero-message a{
    color:#036070;
}
/**shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#ffb703;
}
.box{
   border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0px 15px;
   
}
.box-img{
    height: 330px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}
.box-content p{
    color: #036070;
}
.box-content{
    margin-left: 30px;
    
}
/** footer **/
footer{
    margin-top: 50px;
}
.foot-panel1{
    background-color: #023047;
    color: white;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}
.foot-panel2{
    background-color: #219ebc;
    color:black;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
ul{
    margin: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: black;
}
.foot-panel3{
    background-color: #023047;;
   color: white;
   border-top: 0.5px solid white;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo{
      background-image:url("images/image2.png");
    background-size: cover;
    height: 80px;
    width: 230px;
}
.foot-panel4{
    background-color: #219ebc;
    color: white;
    height: 90px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
padding-top: 20px;
}
.copyright{
padding-top:4px; 
}
.box-img1{
    height: 210px;
    width:250px ;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 80px;
}
.see{
    height: 40px;
    width: 90px;
    position: absolute;
    margin-top: -19px;
    margin-left: 95px;
    background-color: #ffb703;
}
.see1{
    height: 40px;
    width: 90px;
    position: absolute;
    margin-top: -9px;
    margin-left: 95px;
    background-color: #ffb703;
}